---
component: footer
---

<footer class="lft-footer" role="contentinfo">
  <div class="container">
    <ul class="footer-links muted">
      <li><a href="{{relative page.dest "dist/blog/"}}">Blog</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/about/"}}">About</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/projects/"}}">Projects</a></li>
      <li>·</li>
      <li><a href="https://twitter.com/nrehwaldt">Twitter</a></li>
      <li>·</li>
      <li><a href="https://github.com/Nikku">GitHub</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/legal/imprint.html"}}">Imprint</a></li>
    </ul>
  </div>
</footer>