---
layout: blog.hbs
---

<div class="lft-blogpost">

  <div class="published">
    {{ moment published format="DD MMM YYYY" }}
  </div>

  <h1 class="page-header"><a href="./{{slug}}.html">{{ title }}</a></h1>

  <div class="content">
    {{#markdown}}
      {{> body}}
    {{/markdown}}
  </div>

  <div class="meta">
    Posted by {{ author author }}.
  </div>
</div>