---
layout: base.hbs
---


<div class="container">
  <div class="row">

    <div class="col-md-3 lft-sidebar">

      <h4>Hello!</h4>

      <p>
        <img class="img-bordered img-responsive" style="height: 100px" src="{{ assets }}/img/me.jpg" />
      </p>

      <p>
        I am a web developer and write about open source, modern web development and my own projects.
      </p>

      <h4>Resources</h4>

      <ul>
        <li><a href="{{ relative page.dest "dist/about/" }}">About me</a></li>
        <li><a href="https://twitter.com/nrehwaldt">@nrehwaldt</a></li>
        <li><a href="https://github.com/Nikku">GitHub</a></li>
      </ul>

    </div>

    <div class="col-md-9">
      {{> body }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 lft-blog-footer">
      <a href="{{ relative page.dest 'dist/blog/' }}">Back to blog</a>.
    </div>
  </div>
</div>