<header class="header">
  <div class="container">
    <a class="brand" href="{{ relative('') }}">
      <img src="{{ assets }}/img/brand.svg" aria-label="lefedt" alt="lefedt logo" height="76" />
    </a>
  </div>
</header>

<div class="navbar blg-navigation" role="navigation">
  <div class="container">
    <ul class="nav">
      <li><a href="{{ relative('') }}">home</a></li>
      <li>·</li>
      <li><a href="{{ relative('projects') }}">projects</a></li>
      <li>·</li>
      <li><a href="https://github.com/nikku/talks">talks</a></li>
      <li>·</li>
      <li><a href="{{ relative('blog') }}">blog</a></li>
      <li>·</li>
      <li><a href="{{ relative('about') }}">about</a></li>
    </ul>
  </div>
</div>
